@import "tailwindcss";

@theme {
  --color-background: #0f0f0f;
  --color-electric-green: #00ff1e;
  --color-rufous: #ad1700;
  --color-corsa: #d50707;
  --color-post-it: #ffe066;
  --color-dark-red: #890000;
  --color-passport: #ffeed0;
  --color-frog: #0e2800;
  --color-cream: #fff7db;
  --font-pixelify: "Pixelify Sans", system-ui, "sans-serif";
}

html {
  font-family: "Fira Mono", system-ui, sans-serif;
}

body {
  background-color: #0f0f0f;
}

main {
  padding-bottom: 4rem;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
}
