/*! 98.css v0.2.6 - https://botoxparty.github.io/XP.css/ */
@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url('../fonts/ms_sans_serif.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}
.button-98 {
  font-family: "Pixelated MS Sans Serif";
  font-size: 11px;
  box-sizing: border-box;
  border: none;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
  border-radius: 0;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
}
.button-98:not(:disabled).active,
.button-98:not(:disabled):active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
}
.button-98.focused,
.button-98:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}
.button-98::-moz-focus-inner {
  border: 0;
}
