<section class="flex gap-4 h-48">
  <div class="post-it bg-post-it w-48 h-full p-4 text-sm relative">
    <p class="leading-[150%]">
      Owner of the YouTube channel
      <a
        class="underline"
        href="https://www.youtube.com/@CBMedia404"
        target="_blank"
      >
        CB Media
      </a>
      - filming Thailand's local car scene - drives a V8-powered BMW E30
    </p>

    <span
      class="font-pixelify uppercase absolute left-[-16px] bottom-[-8px] rotate-355 bg-corsa text-post-it px-2 py-px text-xl"
    >
      fun fact
    </span>
  </div>

  <div
    class="flex flex-1 bg-cover bg-center bg-[url(https://d3np79dr82q4gx.cloudfront.net/banner.jpg)]"
  ></div>

  <div
    class="w-48 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/frame.png'),_url('https://d3np79dr82q4gx.cloudfront.net/table.jpg')]"
  ></div>
</section>
