<section>
  <div class="bg-white p-6 text-sm leading-[150%] relative">
    <p>
      Welcome to my website. I am a Front-End engineer that loves traveling and
      car culture. Feel free to check out my work on GitHub or browse my blog
      posts.
    </p>
    <img width="128"
         height="96"
         class="absolute top-[-48px] right-[-96px] w-[128px]"
         src="https://d3np79dr82q4gx.cloudfront.net/summary-car.png"
         alt="" />
    <div class="flex ga-4 absolute bottom-0 right-0">
      <img width="48"
           height="48"
           class="w-[48px] h-[48px]"
           src="https://d3np79dr82q4gx.cloudfront.net/python.gif"
           alt="python logo" />
      <img width="48"
           height="48"
           class="w-[48px] h-[48px]"
           src="https://d3np79dr82q4gx.cloudfront.net/javascript.gif"
           alt="javascript logo" />
    </div>
  </div>
</section>
