<section>
  <div class="flex gap-4">
    <div class="w-1/2 flex flex-col gap-2">
      <div class="bg-frog text-cream font-[Ubuntu] flex flex-col items-center text-sm p-4">
        <h2 class="w-full text-center text-cream font-medium text-base">My zen</h2>
        <p class="w-full text-center leading-[200%] pt-2 pb-4">
          My tests are passing
          <br />
          Everyone understand my code
          <br />
          Production is stable
          <br />
        </p>
        <img width="48"
             height="61"
             class="w-12"
             src="https://d3np79dr82q4gx.cloudfront.net/fountain.webp"
             alt="">
      </div>
      <a class="button-98 flex flex-1 justify-center items-center"
         href="https://www.srenity.online/"
         target="_blank">SERENITY</a>
    </div>
    <div class="w-1/2 bg-cover bg-[url(https://d3np79dr82q4gx.cloudfront.net/zen.webp)]"></div>
  </div>
</section>
