<section>
  <div class="grid grid-cols-3 grid-rows-2 grid-rows-[1fr_80px] gap-4">
    <div class="col-start-1 row-start-1 row-span-2 bg-cover bg-position-[10%_25%] bg-size-[220%] bg-[url(https://d3np79dr82q4gx.cloudfront.net/silvia.webp)]">
    </div>
    <div class="bg-white pt-6 pb-8 px-8 flex flex-col gap-2 col-span-2 relative">
      <img width="64"
           height="64"
           class="absolute w-16 right-[-20px] top-[-12px] -scale-x-100"
           src="https://d3np79dr82q4gx.cloudfront.net/camera.webp"
           alt="camera">
      <h2 class="font-medium col-start-2 col-span-2 row-start-1 row-span-1">Pinned media 📌</h2>
      <p class="leading-[150%] text-sm overflow-hidden text-ellipsis line-clamp-5">
        During a guided tour of the local spots, a Silvia S14 which appeared to be heavily modified suddenly passed next to us.
      </p>
    </div>
    <div class="row-start-2 col-span-2 bg-cover bg-position-[center_top_80%] bg-[url(https://d3np79dr82q4gx.cloudfront.net/silvia-pixel.webp)]">
    </div>
  </div>
</section>
