{% extends "brdtheo/base.html" %}
{% block title %}
  Théo Billardey
{% endblock title %}
{% block metadescription %}
  lorem ipsum dolor sit amet
{% endblock metadescription %}
{% block main %}
  {% include "brdtheo/sections/summary.html" %}
  <div class="flex flex-col gap-4">
    {% if latest_post %}
      {% include "brdtheo/sections/latest-post.html" with title=latest_post.title %}
    {% endif %}
    {% include "brdtheo/sections/fun-fact.html" %}
    {% include "brdtheo/sections/countrydex.html" with visited_country_list=visited_country_list to_visit_country_list=to_visit_country_list %}
    {% include "brdtheo/sections/hire-me.html" %}
    {% include "brdtheo/sections/pinned-media.html" %}
    {% include "brdtheo/sections/zen.html" %}
  </div>
{% endblock main %}
